@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Inter", sans-serif;
    font-family: 'Inter' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(163, 163, 163);
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: rgba(226, 226, 226, 0.329);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.226);
}